Flusso 1.json
{
  "name": "Flusso 1",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        224,
        144
      ],
      "id": "8f00ca77-79fd-4cd2-a8f0-cf6cf2eecd4c",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "CGksUiurAdsIZwDF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Jj86mioOLkm_kqor249ioti6OXrLvuuN",
          "mode": "list",
          "cachedResultName": "Cartella Test",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Jj86mioOLkm_kqor249ioti6OXrLvuuN"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        784,
        368
      ],
      "id": "f3c84102-476f-40c1-a1de-677fb603e9b5",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qPMxPbXEkiB184Lw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09FHT98TB4",
          "mode": "list",
          "cachedResultName": "nuovo-canale"
        },
        "text": "=Allegato {{$json.messageText}}  salvato correttamente su Google Drive!",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1072,
        144
      ],
      "id": "3ff84d75-a971-445b-b1d2-e5f3657ca62e",
      "name": "Send a message",
      "webhookId": "106c56f8-595f-4c01-95f2-15ca7ec45df1",
      "credentials": {
        "slackOAuth2Api": {
          "id": "MwfqAFePwrCxeXtY",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/// Prende tutti gli allegati dal primo item in ingresso\nconst input = items[0];\n\n// Estrae le chiavi binarie (es: attachment_0, attachment_1, ecc.)\nconst keys = Object.keys(input.binary || {});\n\n// Per ogni allegato crea un nuovo item\nreturn keys.map(k => {\n  return {\n    json: {\n      fileName: input.binary[k].fileName,   // nome del file\n    },\n    binary: {\n      data: input.binary[k]                 // contenuto del file, rinominato come \"data\"\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        144
      ],
      "id": "db040195-4ce8-44c7-8db5-b4043fad4f2a",
      "name": "Estrae allegati"
    },
    {
      "parameters": {
        "jsCode": "// items contiene tutti gli allegati\nconst names = items.map(i => i.json.fileName);\nreturn [{\n  json: {\n    messageText: 'Allegati caricati su Drive: ' + names.join(', ')\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        144
      ],
      "id": "3b36ddc3-01d7-472b-9b45-6e29a85b8a18",
      "name": "Prepara testo notifica slack"
    },
    {
      "parameters": {
        "content": "Prepara notifica\n\nRuolo: prepara testo notifica per slack in modo che non arrivi un messaggio per ogni singolo allegato ma uno per mail",
        "height": 128
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        0
      ],
      "typeVersion": 1,
      "id": "fa71722d-2a2e-4cfe-9a1b-4b1780ab4d80",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Send a message\n\nRuolo: invia un messaggio di conferma su  slack. Questo contiene i nomi dei file allegati",
        "height": 128,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        0
      ],
      "typeVersion": 1,
      "id": "4ab43f2c-384a-4a5c-b57d-d0c2d1b3a7fe",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "Gmail Trigger\n\nRuolo: attiva flusso alla ricezione di una mail con allegati \n\n",
        "height": 112
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        0
      ],
      "typeVersion": 1,
      "id": "47fdf5ec-48dd-4ddc-a948-a534b70f2b75",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "Estrae allegati\n\nRuolo:Estrae e prepara gli allegati",
        "height": 112,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        0
      ],
      "typeVersion": 1,
      "id": "c3365d00-b994-4e3c-be48-0d27d4dc13fc",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "Upload file\n\nRuolo: Carica ogni allegato su file",
        "height": 112,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        368
      ],
      "typeVersion": 1,
      "id": "abeca6df-9928-4189-995c-a432d67b9322",
      "name": "Sticky Note11"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Estrae allegati",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estrae allegati": {
      "main": [
        [
          {
            "node": "Prepara testo notifica slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara testo notifica slack": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "64cf572f-8cab-45d4-ab20-a51141c592ea",
  "meta": {
    "instanceId": "3eade08974c65ea0e714de990b1c4d4deb3f525e0d19f574aa90538cacfd42e4"
  },
  "id": "9xF0YhGXZ2YGbkDE",
  "tags": []
}